@{
    ViewData["Title"] = "Historia";
}

 <!--INICIO DE LAS CARD-->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="~/images/Historia2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¿Qué son los Juegos Olímpicos?</h5>
        <p class="card-text">También conocidos como Olimpiadas, los Juegos Olímpicos son competencias multidisciplinarias en la que participan representantes de un sinnúmero de naciones. Es uno de los eventos deportivos más grande del mundo y de los más televisados.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="~/images/Historia.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Origen e historia de los JJOO</h5>
        <p class="card-text">La historia de las olimpiadas viene de la antigüedad griega, cerca del siglo VIII a.C. De hecho, su nombre es así porque se celebraban para rendirle honor a los dioses del Panteón Olímpico.

En este evento se realizaban fiestas deportivas donde se reunían los luchadores griegos en distintas competencias. Eran tan importantes que incluso las guerras entre ciudades y reinos se pausaban durante esos días.

Ahí se elegía a los mejores y se les otorgaban premios que les daban un gran respeto y reputación. Los primeros Juegos Olímpicos de la era moderna se celebraron en Atenas en 1896, con 14 países y 241 deportistas.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="~/images/Hisotria3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El significado de los cinco anillos</h5>
        <p class="card-text">El símbolo de los juegos son cinco anillos y cada uno tiene un color: azul, negro, amarillo, verde y rojo, en dos filas con fondo blanco ¿Qué significan? Pues la idea era representar las banderas de los primeros países en participar (Suecia, Francia, Inglaterra, Estados Unidos, Alemania, Bélgica, Italia, Hungría, España, Brasil, Australia, el antiguo Japón y la nueva China).</p>
      </div>
    </div>
  </div>
</div>
  <!--FIN DE LAS CARD-->
